# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.DotnetBuildMetrics.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\project\dotnet-build-metrics\src\.idea\.idea.DotnetBuildMetrics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
